body {
  background: linear-gradient(to right, #111111, #7a0000);
}

.card{
    text-align: center;
}

.title{
    text-align: center; 
}

.image{
    width: 300px;
    border-radius: 500px;
    border: 10px solid rgb(52, 29, 29);
}

h1{
    text-decoration: underline;
    font-family: "Germania One", system-ui;
    font-weight: 900;
    font-style: normal;
color: #D4AF37;
    
}

h2{
    font-family: "Germania One", system-ui;
    font-weight: 500;
    font-style: normal;
color: #D4AF37;
}

p{
    font-family: "Germania One", system-ui;
    font-weight: 200;
    font-style: normal;
color: #D4AF37;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons a {
  padding: 12px 25px;
  background: linear-gradient(45deg, #000000, #dd0000);
  color: #ffce00 !important; /* gold text */
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s ease;
  border: 2px solid #ffce00;
}

.buttons a:hover {
  background: linear-gradient(45deg, #dd0000, #ffce00);
  color: #000000;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
